$navbar-button-background-color:  transparent;

$navbar-button-padding: 10px 32px;

$navbar-button-margin-left: -10px;

$navbar-button-color: black;

$navbar-button-border: 2px solid black;

$navbar-button-transition-duration: 0.4s;

$navbar-button-outline: none;

$navbar-button-box-shadow: 0 12px 16px 0 rgba(0,0,0,0.50),0 17px 50px 0 rgba(0,0,0,0.50);

$footer-icon-color: black;

$footer-icon-hover: fa-spin 1s infinite linear;

header
{
	background-image: url("../images/ViewFromWaitChapelGraduation.jpg");

	background-position: -136px -85px;

	width: 100vw;

	height: 1000px;

	margin: 0;

      padding: 0;
}

.navbar
{
	top: -21px;

	height: 200px;

	border: 0 !important; 

	box-shadow: none;

	background: transparent;

	.home-button, .about-me-button, .coder-button, .resume-button, .this-site-button
	{
		background-color: $navbar-button-background-color;

		padding: $navbar-button-padding;

		margin-left: $navbar-button-margin-left;

		color: $navbar-button-color;

		border: $navbar-button-border;

		-webkit-transition-duration: $navbar-button-transition-duration;

		-moz-transition-duration: $navbar-button-transition-duration;

		-o-transition-duration: $navbar-button-transition-duration;

		transition-duration: $navbar-button-transition-duration;

		outline: $navbar-button-outline;

		box-shadow: $navbar-button-box-shadow;
	}
}

.options-list
{
	list-style: none;

	margin-top: 100px;

	div
	{
		display: inline;

		list-style-type: none;

		margin-left: 50px;

		margin-right: 50px;

		font-size: 16px;

		font-weight: 500;

		background: transparent;
	}
}

.about-me
{
	width: 100%;

	background-color: white;

	.about-me-title
	{
		text-align: center;

	      font: normal 50pt Arial;

	      color: black;

	      text-shadow: 0px 3px 0px #b2a98f, 0px 14px 10px rgba(0,0,0,0.15), 0px 24px 2px rgba(0,0,0,0.1), 0px 34px 30px rgba(0,0,0,0.1);
	}

	#about-me-content
	{
	      width: 60%;

	      margin: 0 auto;

	      float: left;

	      margin-left: -5px;

	      .panel-default
	      {
	      		outline: none;

		      border-color: #9ecaed;

		      box-shadow: 0 0 10px #9ecaed;
	      }

	      p
	      {
	      		font-size: 1.25em;

      			font-family: 'Source Code Pro', serif;
	      }
	}

	.about-me-photo
	{
	       background-image: url("../images/GraduationSelfie.jpg");

	       margin-top: 20px;

	       margin-right: -10px;
	       
	       width: 500px;

	       height: 750px;

	       float: right;

	       box-shadow: 0 12px 16px 0 rgba(0,0,0,3),0 17px 50px 0 rgba(0,0,0,3);
	}
}

.coder
{
	.coder-title
	{
	      text-align: center;

	      font:normal 50pt Arial;

	      color: white;

	      text-shadow: 0px 3px 0px #b2a98f, 0px 14px 10px rgba(0,0,0,0.15), 0px 24px 2px rgba(0,0,0,0.1), 0px 34px 30px rgba(0,0,0,0.1);
	}

	#content-panel
	{
	       outline: none;

	      border-color: #9ecaed;

	      box-shadow: 0 0 10px #9ecaed;

	      width: 60%;

	      margin-left:  260px;
	}
}

.flip-button
{
      position: absolute;

      padding-left: 520px;

      padding-top: 50px;

      	.check-me-out-button-front
	{
	      background-color: transparent;

	      padding: 22px  42px;

	      color: white; 

	      border: 2px solid white;

	      -webkit-transition-duration: 0.4s;

		-moz-transition-duration: 0.4s;

		-o-transition-duration: 0.4s;

		transition-duration: 0.4s;

	   	&:hover
	   	{
	   		box-shadow: 0 12px 16px 0 rgba(0,0,0,1),0 17px 50px 0 rgba(0,0,0,1);
	   	}
	}
}

#resume
{
	#resume-title
	{
		text-align: center;

	      font:normal 50pt Arial;

	      color: white;

	      text-shadow: 0px 3px 0px #b2a98f, 0px 14px 10px rgba(0,0,0,0.15), 0px 24px 2px rgba(0,0,0,0.1), 0px 34px 30px rgba(0,0,0,0.1);
	}

	#resume-wrapper
	{
		position: absolute;

		left: 20%;
	}

	#resume-download-link
	{
		color: white;

		text-align: center;
	}

	#resume-download-link
	{
		a
		{
			color: black;
		}
	}

	#contact-row
	{
	      margin-top: 1100px;

	      margin-left: 500px;
	}

	#contact-button
	{
	      width: 350px;

	      height: 70px;

	      outline: none;
	}

	#collapse-contact-info
	{
		#contact-panel
		{
			position: absolute;

			border-color: black;

			background: white;

			margin: 0 auto;

			width: 200px;

			margin-top: 20px;

			margin-left: 75px;
		}
	}
}

footer
{
	#footer-right
	{
	       font-size: 1.25em;

	      font-family: 'Source Code Pro', serif;

	      text-align: center;

	      margin-top: 15px;
	}

	#footer-middle
	{
	      font-size: 1.25em;

	      font-family: 'Source Code Pro', serif;

	      text-align: center;

	      margin-top: 15px;
	}

	#footer-middle > p
	{
	      margin-left: 50px;
	}

	#footer-left
	{
	      font-size: 1.25em;

	      font-family: 'Source Code Pro', serif;

	      text-align: center;

	      margin-top: 20px;
	}

	#footer-right > a
	{
	      margin-left: 20px;
	}

	.red-heart
	{
	      font-size: 120%;

	      color: red;
	}

	.fa-stack-overflow, .fa-github, .fa-linkedin-square, .fa-twitter-square, .fa-envelope
	{
		color: $footer-icon-color;

		&:hover
		{
			animation: $footer-icon-hover;
		}
	}
}

@-webkit-keyframes fa-spin
{
      0%{-webkit-transform:rotate(0deg);transform:rotate(0deg)}100%{-webkit-transform:rotate(359deg);transform:rotate(359deg)}
}

@keyframes fa-spin
{
      0%{-webkit-transform:rotate(0deg);transform:rotate(0deg)}100%{-webkit-transform:rotate(359deg);transform:rotate(359deg)}
}